@mixin colPadding() {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  width: 100%;
  float: left;
  @include colPadding();
}
.wrap-outstanding {
  width: 100%;
  float: left;
  padding: 35px 0;
}
.title-module {
  text-align: center;
  & h2 {
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 36px;
    padding-bottom: 10px;
    &::before {
      content: '';
      width: 50px;
      height: 2px;
      background: #ed1c24;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
