@mixin padMarContent() {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@mixin marginRow {
  margin-right: -15px;
  margin-left: -15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    height: 1343px;
    @include padMarContent();
  }
  .row {
    @include marginRow();
  }
}

@media (min-width: 1200px) {
  .container {
    width: var(--container-width);
  }
}
