.menu {
  &-list {
    text-align: left;
    line-height: 50px;
    display: flex;
    width: 100%;
  }
  &-item {
    position: relative;
    background: transparent;
    padding: 0px 0px;
    z-index: 3;
    margin-right: 4px;
    &.active &-link {
      color: #0089ff;
    }
    &-link {
      color: #333;
      font-family: var(--font-family);
      padding: 0px 15px;
      font-size: 1.4rem;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;
      &:hover {
        color: #0089ff;
      }
    }
    &:nth-child(4) {
      background: #cacaca;
      margin-right: 3px;
    }
    &:nth-child(5) {
      background: #ed1c24;
    }
    .icon {
      margin-left: 3px;
      height: 1.3rem;
    }
  }
}
.nav-list {
  display: block;
  margin-top: 0;
  width: 200px;
  background: #fff;
  border: 1px solid #ebebeb;
  .nav-item {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 0px;
    &:hover {
      background: #0089ff;
    }
    &:hover .item-link {
      color: #fff;
    }
    &:not(:last-child) {
      border-bottom: solid 1px #ebebeb;
    }
    .item-link {
      font-family: 'Roboto', sans-serif;
      display: flex;
      align-items: center;
      padding: 5px 15px 5px 10px;
      color: #333;
      height: 30px;
      font-size: 1.4rem;
      text-transform: uppercase;
      transition: 0.5s;
    }
  }
}
